.well-images {
  width: 100%;
  height: 162px;
}

.top-buffer {
  margin-top: 30px;
}

.bannder {
  background-image: url("../images/banner.png");
  width: 100%;
  height: 178px;
  background-repeat: no-repeat;
  background-size: cover;
}

.answer {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #bbb;
}

.answer:hover {
  cursor: pointer;
}
