<!DOCTYPE html>
<html lang="en" ng-app="quizApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Quiz App</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="bannder"></div>
        <h1>Danh sách quiz</h1>
      </div>
      <div
        ng-controller="listQuiz as list"
        ng-hide="list.quizMetrics.quizActive"
      >
        <form class="form-inline well well-sm clearfix">
          <span class="glyphicon glyphicon-search"></span>
          <input
            type="text"
            placeholder="Search..."
            class="form-control"
            ng-model="list.search"
          />
        </form>
        <div
          class="col-sm-6"
          ng-repeat="turtle in list.data | filter:list.search"
        >
          <div class="well well-sm">
            <div class="row">
              <div class="col-md-6">
                <img
                  ng-src="./images/logos/{{turtle.Logo}}"
                  alt=""
                  class="img-rounded img-responsive well-images"
                />
              </div>
              <div class="col-md-6">
                <p><strong>{{turtle.Name}}</strong></p>
                <button
                  class="btn btn-primary pull-right"
                  data-toggle="modal"
                  data-target="#turtle-info"
                  ng-click="list.activeQuiz(turtle.Id)"
                >
                  Start Quiz
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- List Controller -->
      <div
        ng-controller="quizCtrl as quiz"
        ng-show="quiz.quizMetrics.quizActive"
      >
        <div class="row">
          <div class="col-xs-8">
            <h4>Progress:</h4>
            <button
              class="btn"
              ng-repeat="question in quiz.quiz"
              ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null}"
              ng-click="quiz.setActiveQuestion($index)"
            >
              <span
                class="glyphicon"
                ng-class="{'glyphicon-pencil' : question.selected !== null, 'glyphicon-question-sign': question.selected === null}"
              ></span>
            </button>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <h4>Legend:</h4>
              <div class="col-sm-4">
                <button class="btn btn-info">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <p>Answered</p>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-danger">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
                <p>UnAnswered</p>
              </div>
            </div>
          </div>
        </div>
        <!--Propgress -->
        <div class="row">
          <div class="alert alert-danger" ng-show="quiz.error">
            You have not answer all of the question
            <button class="close" ng-click="quiz.error= fasle">&times</button>
          </div>
          <h3>Question:</h3>
          <div class="well well-sm" ng-hide="quiz.finalise">
            <div class="row">
              <div class="col-xs-12">
                <h4>
                  {{quiz.activeQuestion + 1 + ". " +
                  quiz.quiz[quiz.activeQuestion].text}}
                </h4>
                <div class="row">
                  <div
                    class="col-sm-6"
                    ng-repeat="answer in quiz.quiz[quiz.activeQuestion].possibilities"
                  >
                    <h4
                      class="answer"
                      ng-class="{'bg-info': $index === quiz.quiz[quiz.activeQuestion].selected}"
                      ng-click="quiz.selectAnswer($index)"
                    >
                      {{answer.answer}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-warning" ng-click="quiz.questionsAnswer()">
            Continue
          </button>
        </div>
        <div class="well well-sm" ng-show="quiz.finalise">
          <div class="row">
            <div class="col-xs-12">
              <h3>Are you sure you want to submit the answer</h3>
              <button class="btn btn-success" ng-click="quiz.finaliseAnswer()">
                Yes
              </button>
              <button class="btn btn-danger" ng-click="quiz.finalise = false">
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
      crossorigin="anonymous"
    />

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"
    ></script>
    <script src="./js/angular.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-analytics.js"></script>
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyDJWMemXPH_8aoYXF7KIIhkUIsW5rwKfCw",
        authDomain: "quizappangularjs.firebaseapp.com",
        databaseURL: "https://quizappangularjs.firebaseio.com",
        projectId: "quizappangularjs",
        storageBucket: "quizappangularjs.appspot.com",
        messagingSenderId: "482368373500",
        appId: "1:482368373500:web:18059aaf849c71fb93cd79",
        measurementId: "G-Q9JQKDLSQ4"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

    <script src="./js/app.js"></script>
    <script src="./js/controller/list.js"></script>
    <script src="./js/controller/quiz.js"></script>
    <script src="./js/factories/quizMetrics.js"></script>
    <script src="./js/factories/dataservice.js"></script>
    <script src="./js/test.js"></script>
  </body>
</html>
